/*css for forms*/

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
	border: 2px solid red;
}
small{
color:red;
display:block;
text-align:right;
}
button[disabled="disabled"]{
	opacity:0.4;
	cursor:not-allowed !important;
	
}